---
title: "Amazon Genomics CLI"
linkTitle: "agc"

---

{{< blocks/cover title="Welcome to the Amazon Genomics CLI" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/aws/amazon-genomics-cli">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Simplifying genomics workflows in the cloud!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Amazon Genomics CLI is an **open source CLI** that helps customers run genomics workflows in the cloud by **automating deployment of best practices infrastructure** for workflow engines. Amazon Genomics CLI reduces the time for scientists and developers to start running existing genomics workflows at scale and speed up iteration cycles as they develop new ones.
{{% /blocks/lead %}}


{{< blocks/section color="white" >}}
{{% blocks/feature icon="fa fa-download" title="Download Binaries" url="https://github.com/aws/amazon-genomics-cli/releases"%}}
Get compiled [releases](https://github.com/aws/amazon-genomics-cli/releases) of Amazon Genomics CLI
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/aws/amazon-genomics-cli" %}}
Submit a [Pull Request](https://github.com/aws/amazon-genomics-cli/pulls) on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-aws" title="AWS Healthcare & Life Sciences" url="https://aws.amazon.com/health/" %}}
AWS is the trusted technology and innovation partner to the global healthcare and life sciences industry, providing unmatched reliability, security, and data privacy.
{{% /blocks/feature %}}

{{< /blocks/section >}}


