name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Set up Node
      uses: actions/setup-node@v2
      with:
        node-version: 14.21.1

    - name: Make Init
      run: make init

    - name: Make
      run: make

    - name: Ensure No Format Changes
      run: git diff --exit-code

  lint:
    name: golangci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
           go-version: 1.19
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: v1.48.0

          # Optional: working directory, useful for monorepos
          working-directory: packages/cli/

          # Optional: golangci-lint command line arguments.
          args: --timeout=5m0s

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true

          # Optional: if set to true then the action will use pre-installed Go.
          # skip-go-installation: true

          # Optional: if set to true then the action don't cache or restore ~/go/pkg.
          # skip-pkg-cache: true

          # Optional: if set to true then the action don't cache or restore ~/.cache/go-build.
          # skip-build-cache: true
